In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import matplotlib as mpl
import matplotlib.font_manager as fm

한글폰트설정

In [2]:
fontPath = 'NanumBarunGothic.ttf' # For Windows
fontprop=fm.FontProperties(fname=fontPath, size=18)

In [3]:
import matplotlib
from matplotlib import font_manager, rc
import platform

if platform.system() == 'Windows':
# 윈도우인 경우
    font_name = font_manager.FontProperties(fname="NanumBarunGothic.ttf").get_name()
    rc('font', family=font_name)
else:    
# Mac 인 경우
    rc('font', family='AppleGothic')
    
matplotlib.rcParams['axes.unicode_minus'] = False   
#그래프에서 마이너스 기호가 표시되도록 하는 설정입니다.

In [37]:
raw=pd.read_csv('rowdata.csv',  encoding = 'utf-8')
raw

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xb9 in position 0: invalid start byte

Data Read

In [2]:
path='Data/'
file_list=os.listdir(path)
file_list

['2012.csv',
 '2013.csv',
 '2014.csv',
 '2015.csv',
 '2016.csv',
 '2017.csv',
 '2018.csv',
 'Processing']

In [3]:
char=['발생년', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상신고자수', '발생지시도',  '사고유형_대분류', '법규위반_대분류',
       '도로형태_대분류', '가해자_당사자종별_대분류', '피해자_당사자종별_대분류']
col=['년도', '주야', '요일', '사망자수', '사상자수', '중상자수', '경상자수',
       '부상자수', '발생지', '사고유형', '법규위반',
       '도로형태', '가해자', '피해자']

In [10]:
data=[]
for i in file_list :
    print(i);
    d=pd.read_csv(path+i,  encoding = 'utf-8')
    d=d.dropna()
    d=d[char]
    d.columns=col
    d['부상자수']=d['부상자수']+d['경상자수']+d['중상자수']
    d=d.drop('경상자수',1)
    d=d.drop('중상자수',1)
    d=d.replace({'주야':'주'},{'주야':'주간'})
    d=d.replace({'주야':'야'},{'주야':'야간'})
    d=d.replace({'피해자':'0'},{'피해자':'없음'})
    d['횟수']=1
    data.append(d)

2012.csv
2013.csv
2014.csv
2015.csv
2016.csv
2017.csv
2018.csv
Processing

PermissionError: [Errno 13] Permission denied: 'Data/Processing'

In [28]:
totalData=pd.concat([data[0],data[1]],axis=0)
for i in range(2,len(data)):
    totalData=pd.concat([totalData,data[i]],axis=0)
hurtData=totalData[totalData['사상자수']>=10]
hurtData

        년도  주야 요일  사망자수  사상자수  부상자수 발생지  사고유형     법규위반 도로형태  가해자  피해자  횟수
63    2012  주간  일     1    12    11  충남  차량단독  운전자법규위반  단일로  승합차   없음   1
125   2012  야간  월     1    10     9  충남   차대차  운전자법규위반  단일로  승합차  화물차   1
147   2012  주간  월     1    28    27  경남   차대차  운전자법규위반  단일로  승합차  승용차   1
151   2012  주간  목     5    10     5  경기   차대차  운전자법규위반  단일로  승합차  승용차   1
209   2012  야간  토     1    22    21  경북   차대차  운전자법규위반  단일로  승합차  화물차   1
...    ...  .. ..   ...   ...   ...  ..   ...      ...  ...  ...  ...  ..
2402  2018  주간  수     1    12    11  충남   차대차  운전자법규위반  교차로  승합차  화물차   1
2555  2018  야간  월     2    12    10  경북   차대차  운전자법규위반  단일로  화물차  승합차   1
2673  2018  주간  목     2    39    37  울산   차대차  운전자법규위반  단일로  승용차  승합차   1
2912  2018  주간  토     1    11    10  충남   차대차  운전자법규위반   기타  승용차  승용차   1
3296  2018  야간  금     1    11    10  강원   차대차  운전자법규위반  단일로  승용차  승용차   1

[227 rows x 13 columns]

In [34]:
data[5]

        년도  주야 요일  사망자수  사상자수  부상자수 발생지  사고유형     법규위반 도로형태       가해자  피해자  횟수
0     2017  야간  일     1     2     1  전남   차대차  운전자법규위반  단일로       승용차  승용차   1
1     2017  야간  일     1     1     0  서울  차대사람  운전자법규위반  교차로       승용차  보행자   1
2     2017  야간  일     1     2     1  충남   차대차  운전자법규위반  단일로       승용차  승용차   1
3     2017  야간  일     1     1     0  충남  차량단독  운전자법규위반  단일로       승용차   없음   1
4     2017  야간  일     1     1     0  서울  차대사람  운전자법규위반  단일로       승용차  보행자   1
...    ...  .. ..   ...   ...   ...  ..   ...      ...  ...       ...  ...  ..
4060  2017  야간  일     1     4     3  경남   차대차  운전자법규위반  단일로       화물차  화물차   1
4061  2017  야간  일     1     1     0  부산  차량단독  운전자법규위반  단일로  원동기장치자전거   없음   1
4062  2017  야간  일     1     1     0  강원  차량단독  운전자법규위반  단일로       화물차   없음   1
4063  2017  야간  일     1    11    10  경기   차대차  운전자법규위반  단일로       승용차  승용차   1
4064  2017  야간  일     1     1     0  대전  차대사람  운전자법규위반  단일로       이륜차  보행자   1

[4065 rows x 13 columns]

In [27]:
d=d.replace({col_2[1]:'주간'},{col_2[1]:'Day'})
d=d.replace({col_2[1]:'야간'},{col_2[1]:'Night'})

d=d.replace({col_2[2]:'월'},{col_2[2]:'Mon'})
d=d.replace({col_2[2]:'화'},{col_2[2]:'Tue'})
d=d.replace({col_2[2]:'수'},{col_2[2]:'Wed'})
d=d.replace({col_2[2]:'목'},{col_2[2]:'Thu'})
d=d.replace({col_2[2]:'금'},{col_2[2]:'Fri'})
d=d.replace({col_2[2]:'토'},{col_2[2]:'Sat'})
d=d.replace({col_2[2]:'일'},{col_2[2]:'Sun'})

d=d.replace({col_2[6]:'경기'},{col_2[6]:'Gyeonggi'})
d=d.replace({col_2[6]:'경북'},{col_2[6]:'Gyeongbuk'})
d=d.replace({col_2[6]:'전남'},{col_2[6]:'Jeonnam'})
d=d.replace({col_2[6]:'충남'},{col_2[6]:'Chungcheongnam'})
d=d.replace({col_2[6]:'경남'},{col_2[6]:'Gyeongsangnam'})
d=d.replace({col_2[6]:'서울'},{col_2[6]:'Seoul'})
d=d.replace({col_2[6]:'강원'},{col_2[6]:'Gangwon'})
d=d.replace({col_2[6]:'충북'},{col_2[6]:'Chungbuk'})
d=d.replace({col_2[6]:'전북'},{col_2[6]:'Jeonbuk'})
d=d.replace({col_2[6]:'인천'},{col_2[6]:'Incheon'})
d=d.replace({col_2[6]:'부산'},{col_2[6]:'Busan'})
d=d.replace({col_2[6]:'울산'},{col_2[6]:'Ulsan'})
d=d.replace({col_2[6]:'대전'},{col_2[6]:'Daejeon'})
d=d.replace({col_2[6]:'제주'},{col_2[6]:'Jeju'})
d=d.replace({col_2[6]:'광주'},{col_2[6]:'Gwangju'})
d=d.replace({col_2[6]:'대구'},{col_2[6]:'Daegu'})

d=d.replace({col_2[7]:'차대사람'},{col_2[7]:'Car and People'})
d=d.replace({col_2[7]:'차대차'},{col_2[7]:'Car and Car'})
d=d.replace({col_2[7]:'차량단독'},{col_2[7]:'Only Car'})

d=d.replace({col_2[8]:'운전자법규위반'},{col_2[8]:'Violation of drivers laws'})

d=d.replace({col_2[9]:'교차로'},{col_2[9]:'crossroad'})
d=d.replace({col_2[9]:'기타'},{col_2[9]:'Other'})
d=d.replace({col_2[9]:'기타/불명'},{col_2[9]:'Other/Unknown'})
d=d.replace({col_2[9]:'단일로'},{col_2[9]:'single-handedly'})
d=d.replace({col_2[9]:'지하도로내'},{col_2[9]:'Inside the underground road'})

d=d.replace({col_2[10]:'건설기계'},{col_2[10]:'construction machinery'})
d=d.replace({col_2[10]:'농기계'},{col_2[10]:'agricultural machinery'})
d=d.replace({col_2[10]:'승용차'},{col_2[10]:'a car'})
d=d.replace({col_2[10]:'승합차'},{col_2[10]:'a van'})
d=d.replace({col_2[10]:'이륜차'},{col_2[10]:'a two-wheeled car'})
d=d.replace({col_2[10]:'특수차'},{col_2[10]:'special car'})
d=d.replace({col_2[10]:'화물차'},{col_2[10]:'a freight car'})

d=d.replace({col_2[11]:'건설기계'},{col_2[11]:'construction machinery'})
d=d.replace({col_2[11]:'보행자'},{col_2[11]:'Pedestrian'})
d=d.replace({col_2[11]:'승용차'},{col_2[11]:'a car'})
d=d.replace({col_2[11]:'승합차'},{col_2[11]:'a van'})
d=d.replace({col_2[11]:'없음'},{col_2[11]:'none'})
d=d.replace({col_2[11]:'이륜차'},{col_2[11]:'a two-wheeled car'})
d=d.replace({col_2[11]:'특수차'},{col_2[11]:'special car'})
d=d.replace({col_2[11]:'화물차'},{col_2[11]:'a freight car'})

d.to_csv('Data/Processing/hurtData.csv',encoding='euc-kr', index=False)

In [ ]:
hurtData.to_csv('Data/Processing/hurtData.csv',encoding='euc-kr', index=False)

사상자수 10명이상 사고의 특징

In [27]:
test=hurtData.drop('년도',1)
test=test.groupby(by=['발생지'], as_index=False).sum()
test=test.sort_values(by='횟수', ascending=False)
test=test[['발생지','횟수']]
test.set_index(test['발생지'], inplace=True)
test=test.drop('발생지',1)
test=test.T
for i in test.columns :
    test[i]=test[i]/total*100
test
#test.to_csv('Data/Processing/location.csv',encoding='euc-kr', index=True)

발생지,경기,경북,전남,충남,경남,서울,강원,충북,전북,인천,부산,울산,대전,제주,광주,대구
횟수,18.942731,12.334802,9.251101,8.810573,7.929515,7.929515,6.60793,6.167401,4.845815,3.964758,3.524229,2.643172,2.202643,2.202643,1.321586,1.321586

In [18]:
col_2=['주야','비율']
dayNight=hurtData[col_2]
dayNight=dayNight.groupby(by=['주야'], as_index=False).sum()
dayNight.set_index(dayNight['주야'], inplace=True)
dayNight=dayNight.drop('주야',1)
dayNight=dayNight.T
for i in dayNight.columns :
    dayNight[i]=dayNight[i]/total*100
#dayNight.to_csv('Data/Processing/dayAndNight.csv',encoding='euc-kr', index=True)
dayNight

주야         야간         주간
횟수  35.242291  64.757709

In [19]:
col_2=['요일','비율']
weekChar=['월','화','수','목','금','토','일']
week=hurtData[col_2]
week=week.groupby(by=['요일'], as_index=False).sum()
week.set_index(week['요일'], inplace=True)
week=week.drop('요일',1)
week=week.reindex(index=weekChar)
week=week.T
for i in week.columns :
    week[i]=week[i]/total*100
#week.to_csv('Data/Processing/week.csv',encoding='euc-kr', index=True)
week

요일          월          화          수          목          금          토         일
횟수  11.453744  13.656388  14.977974  13.215859  16.299559  17.621145  12.77533

In [20]:
col_2=['사고유형','비율']
accKind=hurtData[col_2]
accKind=accKind.groupby(by=['사고유형'], as_index=False).sum()
accKind.set_index(accKind['사고유형'], inplace=True)
accKind=accKind.drop('사고유형',1)
accKind=accKind.T
for i in accKind.columns :
    accKind[i]=accKind[i]/total*100
#accKind.to_csv('Data/Processing/accKind.csv',encoding='euc-kr', index=True)
accKind

사고유형      차대사람        차대차      차량단독
횟수    3.524229  87.665198  8.810573

In [21]:
col_2=['도로형태','비율']
roadKind=hurtData[col_2]
roadKind=roadKind.groupby(by=['도로형태'], as_index=False).sum()
roadKind.set_index(roadKind['도로형태'], inplace=True)
roadKind=roadKind.drop('도로형태',1)
roadKind=roadKind.T
for i in roadKind.columns :
    roadKind[i]=roadKind[i]/total*100
#roadKind.to_csv('Data/Processing/roadKind.csv',encoding='euc-kr', index=True)
roadKind

도로형태        교차로        기타     기타/불명        단일로     지하도로내
횟수    24.229075  0.881057  1.762115  72.687225  0.440529

In [22]:
col_2=['법규위반','비율']
violationLaw=hurtData[col_2]
violationLaw=violationLaw.groupby(by=['법규위반'], as_index=False).sum()
violationLaw.set_index(violationLaw['법규위반'], inplace=True)
violationLaw=violationLaw.drop('법규위반',1)
violationLaw=violationLaw.T
for i in violationLaw.columns :
    violationLaw[i]=violationLaw[i]/total*100
#violationLaw.to_csv('Data/Processing/violationLaw.csv',encoding='euc-kr', index=True)
violationLaw

법규위반  운전자법규위반
횟수      100.0

In [17]:
col_2=['가해자','비율']
perpetrator=hurtData[col_2]
perpetrator=perpetrator.groupby(by=['가해자'], as_index=False).sum()
perpetrator.set_index(perpetrator['가해자'], inplace=True)
perpetrator=perpetrator.drop('가해자',1)
perpetrator=perpetrator.T
#perpetrator.to_csv('Data/Processing/perpetrator.csv',encoding='euc-kr', index=True)
perpetrator

가해자  건설기계  농기계  승용차  승합차  이륜차  특수차  화물차
횟수     10    1   69  100    1    1   45

In [23]:
col_2=['피해자','비율']
victim=hurtData[col_2]
victim=victim.groupby(by=['피해자'], as_index=False).sum()
victim.set_index(victim['피해자'], inplace=True)
victim=victim.drop('피해자',1)
victim=victim.T
for i in victim.columns :
    victim[i]=victim[i]/total*100
#victim.to_csv('Data/Processing/victim.csv',encoding='euc-kr', index=True)
victim

피해자,건설기계,보행자,승용차,승합차,없음,이륜차,특수차,화물차
횟수,2.202643,3.524229,29.955947,35.682819,8.810573,0.440529,1.321586,18.061674

In [24]:
col_2=['사망자수','비율']
death=hurtData[col_2]
death=death.groupby(by=['사망자수'], as_index=False).sum()
death.set_index(death['사망자수'], inplace=True)
death=death.drop('사망자수',1)
death=death.T
for i in death.columns :
    death[i]=death[i]/total*100
#death.to_csv('Data/Processing/death.csv',encoding='euc-kr', index=True)
death

사망자수          1          2         3         4         5         6         8
횟수    72.687225  15.859031  5.286344  3.964758  0.881057  0.881057  0.440529

In [25]:
col_2=['부상자수','비율']
hurt=hurtData[col_2]
hurt=hurt.groupby(by=['부상자수'], as_index=False).sum()
hurt.set_index(hurt['부상자수'], inplace=True)
hurt=hurt.drop('부상자수',1)
hurt=hurt.T
for i in hurt.columns :
    hurt[i]=hurt[i]/total*100
#hurt.to_csv('Data/Processing/hurt.csv',encoding='euc-kr', index=True)
hurt

부상자수,4,5,6,7,8,9,10,11,12,13,...,39,40,42,46,49,56,58,66,96,104
횟수,0.440529,0.440529,0.440529,0.881057,3.524229,14.977974,18.502203,8.810573,6.167401,4.405286,...,0.881057,0.440529,0.881057,0.440529,0.440529,0.440529,0.440529,0.440529,0.440529,0.440529